body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 2%;
    padding: 0%;
    background-color:whitesmoke;
}
header{
    background-color:darkgray;
    color:black;
    font-size: larger;
    padding: 2%;
}
h1{
    color: darkcyan;
    color:black;
    font-size:larger;
}
H3{
    font-size:medium;
    color: blue;
}
li{
    text-align:justify;
}
img{
    padding: 2%;
}
#intro{
    text-decoration-color: black;
    font-size: medium;
}

